## **Instalación:**

Para ejecutar Spark en Colab, primero debemos instalar todas las dependencias en el entorno de Colab, es decir, Apache Spark 3.0.0 con Hadoop 3.2, Java 11 y Findspark para ubicar Spark en el sistema. La instalación de las herramientas se puede realizar dentro del Jupyter Notebook del Colab. Siga los pasos para instalar las dependencias:

In [29]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz 
!tar xf spark-3.2.1-bin-hadoop3.2.tgz 
!pip install -q findspark

Ahora que instaló Spark y Java en Colab, es hora de establecer la ruta del entorno que le permite ejecutar Pyspark en su entorno de Colab. Establezca la ubicación de Java y Spark ejecutando el siguiente código

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

Corra la sesión y testee la instalación

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()

Ejemplo de una primera transformación

In [ ]:
nums = sc.parallelize([1,2,3,4])
squared = nums.map(lambda x: x * x).collect()
for num in squared:
  print (num)

1
4
9
16

Importar Csv desde **máquina**

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving movietweets.csv to movietweets.csv
User uploaded file "movietweets.csv" with length 5528 bytes

Primer ejercicio con datos csv

In [ ]:
def parseLine(line):
    fields = line.split(',')
    age = int(fields[2])
    numFriends = int(fields[3])
    return (age, numFriends)

In [ ]:
lines = sc.textFile("amigos.csv")
rdd = lines.map(parseLine)
totalsByAge = rdd.mapValues(lambda x: (x, 1)).reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
averagesByAge = totalsByAge.mapValues(lambda x: x[0] / x[1])
results = averagesByAge.collect()
for result in results:
    print(result)

(26, 242.05882352941177)
(40, 250.8235294117647)
(68, 269.6)
(54, 278.0769230769231)
(38, 193.53333333333333)
(56, 306.6666666666667)
(36, 246.6)
(22, 206.42857142857142)
(60, 202.71428571428572)
(30, 235.8181818181818)
(42, 303.5)
(48, 281.4)
(50, 254.6)
(32, 207.9090909090909)
(58, 116.54545454545455)
(64, 281.3333333333333)
(52, 340.6363636363636)
(24, 233.8)
(20, 165.0)
(62, 220.76923076923077)
(44, 282.1666666666667)
(28, 209.1)
(66, 276.44444444444446)
(46, 223.69230769230768)
(18, 343.375)
(34, 245.5)
(33, 325.3333333333333)
(55, 295.53846153846155)
(59, 220.0)
(37, 249.33333333333334)
(27, 228.125)
(53, 222.85714285714286)
(57, 258.8333333333333)
(43, 230.57142857142858)
(35, 211.625)
(45, 309.53846153846155)
(67, 214.625)
(19, 213.27272727272728)
(51, 302.14285714285717)
(25, 197.45454545454547)
(21, 350.875)
(49, 184.66666666666666)
(39, 169.28571428571428)
(31, 267.25)
(41, 268.55555555555554)
(69, 235.2)
(65, 298.2)
(61, 256.22222222222223)
(29, 215.91666666666666)
(47, 233.22222222222223)
(63, 384.0)
(23, 246.3)

Nuevo RDD

In [ ]:
tweetsRDD = sc.textFile("movietweets.csv")

In [ ]:
tweetsRDD.take(5)

['positive,The Da Vinci Code book is just awesome.',
 'positive,i liked the Da Vinci Code a lot.',
 'positive,i liked the Da Vinci Code a lot.',
 "positive,I liked the Da Vinci Code but it ultimatly didn't seem to hold it's own.",
 "positive,that's not even an exaggeration ) and at midnight we went to Wal-Mart to buy the Da Vinci Code"]

In [ ]:
ucRDD = tweetsRDD.map( lambda x : x.upper() )
ucRDD.take(5)

['POSITIVE,THE DA VINCI CODE BOOK IS JUST AWESOME.',
 'POSITIVE,I LIKED THE DA VINCI CODE A LOT.',
 'POSITIVE,I LIKED THE DA VINCI CODE A LOT.',
 "POSITIVE,I LIKED THE DA VINCI CODE BUT IT ULTIMATLY DIDN'T SEEM TO HOLD IT'S OWN.",
 "POSITIVE,THAT'S NOT EVEN AN EXAGGERATION ) AND AT MIDNIGHT WE WENT TO WAL-MART TO BUY THE DA VINCI CODE"]

In [ ]:
tweetsRDD.count()

100

Otras operaciones "auto-data"

In [ ]:
autoData = sc.textFile("auto-data.csv")
autoData.cache()
#Loads only now.
print(autoData.count())
print(autoData.first())
print(autoData.take(5))
new_rdd = sc.parallelize(autoData.take(5))

198
MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE
['MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE', 'subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118', 'chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151', 'mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195', 'toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348']

In [ ]:
for line in new_rdd.collect():
    print(line)

MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE
subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118
chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151
mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195
toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348

Guardar en un archivo local. Primero recopile el RDD al maestro y luego guárdelo como local

In [ ]:
autoDataFile = open("auto-data-saved.csv","w")
autoDataFile.write("\n".join(new_rdd.collect()))
autoDataFile.close()

In [ ]:
!cat auto-data-saved.csv

MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE
subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118
chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151
mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195
toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348

# **Transformaciones**

Map y cree un nuevo RDD

In [ ]:
tsvData=autoData.map(lambda x : x.replace(",","\t"))
tsvData.take(5)

['MAKE\tFUELTYPE\tASPIRE\tDOORS\tBODY\tDRIVE\tCYLINDERS\tHP\tRPM\tMPG-CITY\tMPG-HWY\tPRICE',
 'subaru\tgas\tstd\ttwo\thatchback\tfwd\tfour\t69\t4900\t31\t36\t5118',
 'chevrolet\tgas\tstd\ttwo\thatchback\tfwd\tthree\t48\t5100\t47\t53\t5151',
 'mazda\tgas\tstd\ttwo\thatchback\tfwd\tfour\t68\t5000\t30\t31\t5195',
 'toyota\tgas\tstd\ttwo\thatchback\tfwd\tfour\t62\t4800\t35\t39\t5348']

Filter para crear un nuevo RDD

In [ ]:
toyotaData=autoData.filter(lambda x: "toyota" in x)
toyotaData.count()

32

FlatMap: https://sparkbyexamples.com/spark/spark-flatmap-usage-with-example/

In [ ]:
words=toyotaData.flatMap(lambda line: line.split(","))
words.count()
words.take(20)

['toyota',
 'gas',
 'std',
 'two',
 'hatchback',
 'fwd',
 'four',
 '62',
 '4800',
 '35',
 '39',
 '5348',
 'toyota',
 'gas',
 'std',
 'two',
 'hatchback',
 'fwd',
 'four',
 '62']

SetOperations

In [ ]:
words1 = sc.parallelize(["hello","war","peace","world"])
words2 = sc.parallelize(["war","peace","universe"])

for unions in words1.union(words2).distinct().collect():
    print(unions)
print("------------------")
for intersects in words1.intersection(words2).collect():
    print(intersects)

hello
peace
world
universe
war
------------------
peace
war

Uso de funciones para la transformación, limpieza y transformación de un RDD

In [ ]:
def cleanseRDD(autoStr) :
    if isinstance(autoStr, int) :
        return autoStr
    attList=autoStr.split(",")
    #convert doors to a number str
    if attList[3] == "two" :
         attList[3]="2"
    elif attList[3] == "four" :
         attList[3]="4"
    #Convert Drive to uppercase
    attList[5] = attList[5].upper()
    return ",".join(attList)
    
cleanedData=autoData.map(cleanseRDD)

for line in autoData.take(5):
  print(line)
print("------------------")
for line in cleanedData.take(5):
  print(line)

MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE
subaru,gas,std,two,hatchback,fwd,four,69,4900,31,36,5118
chevrolet,gas,std,two,hatchback,fwd,three,48,5100,47,53,5151
mazda,gas,std,two,hatchback,fwd,four,68,5000,30,31,5195
toyota,gas,std,two,hatchback,fwd,four,62,4800,35,39,5348
------------------
MAKE,FUELTYPE,ASPIRE,DOORS,BODY,DRIVE,CYLINDERS,HP,RPM,MPG-CITY,MPG-HWY,PRICE
subaru,gas,std,2,hatchback,FWD,four,69,4900,31,36,5118
chevrolet,gas,std,2,hatchback,FWD,three,48,5100,47,53,5151
mazda,gas,std,2,hatchback,FWD,four,68,5000,30,31,5195
toyota,gas,std,2,hatchback,FWD,four,62,4800,35,39,5348

# Nuevo

In [30]:
archivo = './sample_data/california_housing_train.csv'
df_spark = spark.read.csv(archivo, inferSchema=True, header=True)

# imprimir tipo de archivo
print(type(df_spark))

<class 'pyspark.sql.dataframe.DataFrame'>

In [31]:
df_spark.count()

17000

In [32]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [33]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [34]:
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [35]:
df_spark.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
longitude,17000,-119.56210823529375,2.0051664084260357,-124.35,-114.31
latitude,17000,35.6252247058827,2.1373397946570867,32.54,41.95
housing_median_age,17000,28.58935294117647,12.586936981660406,1.0,52.0
total_rooms,17000,2643.664411764706,2179.947071452777,2.0,37937.0
total_bedrooms,17000,539.4108235294118,421.4994515798648,1.0,6445.0
population,17000,1429.5739411764705,1147.852959159527,3.0,35682.0
households,17000,501.2219411764706,384.5208408559016,1.0,6082.0
median_income,17000,3.883578100000021,1.9081565183791036,0.4999,15.0001
median_house_value,17000,207300.91235294117,115983.76438720895,14999.0,500001.0

In [36]:
df_spark.describe(['median_house_value']).show()

+-------+------------------+
|summary|median_house_value|
+-------+------------------+
|  count|             17000|
|   mean|207300.91235294117|
| stddev|115983.76438720895|
|    min|           14999.0|
|    max|          500001.0|
+-------+------------------+

Otro

In [46]:
url = "https://raw.githubusercontent.com/MateoBaron2/Spark/main/movie.csv"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)
df_movie = spark.read.csv("file://"+SparkFiles.get("movie.csv"), header=True, inferSchema= True)

In [47]:
df_movie.count()

5043

In [48]:
df_movie.printSchema()

root
 |-- color: string (nullable = true)
 |-- director_name: string (nullable = true)
 |-- num_critic_for_reviews: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- director_facebook_likes: integer (nullable = true)
 |-- actor_3_facebook_likes: integer (nullable = true)
 |-- actor_2_name: string (nullable = true)
 |-- actor_1_facebook_likes: integer (nullable = true)
 |-- gross: integer (nullable = true)
 |-- genres: string (nullable = true)
 |-- actor_1_name: string (nullable = true)
 |-- movie_title: string (nullable = true)
 |-- num_voted_users: integer (nullable = true)
 |-- cast_total_facebook_likes: integer (nullable = true)
 |-- actor_3_name: string (nullable = true)
 |-- facenumber_in_poster: integer (nullable = true)
 |-- plot_keywords: string (nullable = true)
 |-- movie_imdb_link: string (nullable = true)
 |-- num_user_for_reviews: integer (nullable = true)
 |-- language: string (nullable = true)
 |-- country: string (nullable = true)
 |-- content_rating: string (nullable = true)
 |-- budget: long (nullable = true)
 |-- title_year: integer (nullable = true)
 |-- actor_2_facebook_likes: integer (nullable = true)
 |-- imdb_score: double (nullable = true)
 |-- aspect_ratio: double (nullable = true)
 |-- movie_facebook_likes: integer (nullable = true)

In [49]:
df_movie.columns

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [51]:
df_movie.show()

+-----+-----------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|color|    director_name|num_critic_for_reviews|duration|director_facebook_likes|actor_3_facebook_likes|        actor_2_name|actor_1_facebook_likes|    gross|              genres|      actor_1_name|         movie_title|num_voted_users|cast_total_facebook_likes|        actor_3_name|facenumber_in_poster|       plot_keywords|     movie_imdb_link|num_user_for_reviews|language|country|content_rating|   budget|title_year|actor_2_facebook_likes|imdb_score|aspect_ratio|movie_facebook_likes|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
|Color|    James Cameron|                   723|     178|                      0|                   855|    Joel David Moore|                  1000|760505847|Action|Adventure|...|       CCH Pounder|             Avatar |         886204|                     4834|           Wes Studi|                   0|avatar|future|mar...|http://www.imdb.c...|                3054| English|    USA|         PG-13|237000000|      2009|                   936|       7.9|        1.78|               33000|
|Color|   Gore Verbinski|                   302|     169|                    563|                  1000|       Orlando Bloom|                 40000|309404152|Action|Adventure|...|       Johnny Depp|Pirates of the Ca...|         471220|                    48350|      Jack Davenport|                   0|goddess|marriage ...|http://www.imdb.c...|                1238| English|    USA|         PG-13|300000000|      2007|                  5000|       7.1|        2.35|                   0|
|Color|       Sam Mendes|                   602|     148|                      0|                   161|        Rory Kinnear|                 11000|200074175|Action|Adventure|...|   Christoph Waltz|            Spectre |         275868|                    11700|    Stephanie Sigman|                   1|bomb|espionage|se...|http://www.imdb.c...|                 994| English|     UK|         PG-13|245000000|      2015|                   393|       6.8|        2.35|               85000|
|Color|Christopher Nolan|                   813|     164|                  22000|                 23000|      Christian Bale|                 27000|448130642|     Action|Thriller|         Tom Hardy|The Dark Knight R...|        1144337|                   106759|Joseph Gordon-Levitt|                   0|deception|impriso...|http://www.imdb.c...|                2701| English|    USA|         PG-13|250000000|      2012|                 23000|       8.5|        2.35|              164000|
| null|      Doug Walker|                  null|    null|                    131|                  null|          Rob Walker|                   131|     null|         Documentary|       Doug Walker|Star Wars: Episod...|              8|                      143|                null|                   0|                null|http://www.imdb.c...|                null|    null|   null|          null|     null|      null|                    12|       7.1|        null|                   0|
|Color|   Andrew Stanton|                   462|     132|                    475|                   530|     Samantha Morton|                   640| 73058679|Action|Adventure|...|      Daryl Sabara|        John Carter |         212204|                     1873|        Polly Walker|                   1|alien|american ci...|http://www.imdb.c...|                 738| English|    USA|         PG-13|263700000|      2012|                   632|       6.6|        2.35|               24000|
|Color|        Sam Raimi|                   392|     156|                      0|                  4000|        James Franco|                 24000|336530303|Action|Adventure|...|      J.K. Simmons|       Spider-Man 3 |         383056|                    46055|       Kirsten Dunst|                   0|sandman|spider ma...|http://www.imdb.c...|                1902| English|    USA|         PG-13|258000000|      2007|                 11000|       6.2|        2.35|                   0|
|Color|     Nathan Greno|                   324|     100|                     15|                   284|        Donna Murphy|                   799|200807262|Adventure|Animati...|      Brad Garrett|            Tangled |         294810|                     2036|         M.C. Gainey|                   1|17th century|base...|http://www.imdb.c...|                 387| English|    USA|            PG|260000000|      2010|                   553|       7.8|        1.85|               29000|
|Color|      Joss Whedon|                   635|     141|                      0|                 19000|   Robert Downey Jr.|                 26000|458991599|Action|Adventure|...|   Chris Hemsworth|Avengers: Age of ...|         462669|                    92000|  Scarlett Johansson|                   4|artificial intell...|http://www.imdb.c...|                1117| English|    USA|         PG-13|250000000|      2015|                 21000|       7.5|        2.35|              118000|
|Color|      David Yates|                   375|     153|                    282|                 10000|    Daniel Radcliffe|                 25000|301956980|Adventure|Family|...|      Alan Rickman|Harry Potter and ...|         321795|                    58753|        Rupert Grint|                   3|blood|book|love|p...|http://www.imdb.c...|                 973| English|     UK|            PG|250000000|      2009|                 11000|       7.5|        2.35|               10000|
|Color|      Zack Snyder|                   673|     183|                      0|                  2000|        Lauren Cohan|                 15000|330249062|Action|Adventure|...|      Henry Cavill|Batman v Superman...|         371639|                    24450|      Alan D. Purwin|                   0|based on comic bo...|http://www.imdb.c...|                3018| English|    USA|         PG-13|250000000|      2016|                  4000|       6.9|        2.35|              197000|
|Color|     Bryan Singer|                   434|     169|                      0|                   903|       Marlon Brando|                 18000|200069408|Action|Adventure|...|      Kevin Spacey|   Superman Returns |         240396|                    29991|      Frank Langella|                   0|crystal|epic|lex ...|http://www.imdb.c...|                2367| English|    USA|         PG-13|209000000|      2006|                 10000|       6.1|        2.35|                   0|
|Color|     Marc Forster|                   403|     106|                    395|                   393|     Mathieu Amalric|                   451|168368427|    Action|Adventure|Giancarlo Giannini|  Quantum of Solace |         330784|                     2023|        Rory Kinnear|                   1|action hero|attem...|http://www.imdb.c...|                1243| English|     UK|         PG-13|200000000|      2008|                   412|       6.7|        2.35|                   0|
|Color|   Gore Verbinski|                   313|     151|                    563|                  1000|       Orlando Bloom|                 40000|423032628|Action|Adventure|...|       Johnny Depp|Pirates of the Ca...|         522040|                    48486|      Jack Davenport|                   2|box office hit|gi...|http://www.imdb.c...|                1832| English|    USA|         PG-13|225000000|      2006|                  5000|       7.3|        2.35|                5000|
|Color|   Gore Verbinski|                   450|     150|                    563|                  1000|         Ruth Wilson|                 40000| 89289910|Action|Adventure|...|       Johnny Depp|    The Lone Ranger |         181792|                    45757|       Tom Wilkinson|                   1|horse|outlaw|texa...|http://www.imdb.c...|                 711| English|    USA|         PG-13|215000000|      2013|                  2000|       6.5|        2.35|               48000|
|Color|      Zack Snyder|                   733|     143|                      0|                   748|  Christopher Meloni|                 15000|291021565|Action|Adventure|...|      Henry Cavill|       Man of Steel |         548573|                    20495|        Harry Lennix|                   0|based on comic bo...|http://www.imdb.c...|                2536| English|    USA|         PG-13|225000000|      2013|                  3000|       7.2|        2.35|              118000|
|Color|   Andrew Adamson|                   258|     150|                     80|                   201|Pierfrancesco Favino|                 22000|141614023|Action|Adventure|...|    Peter Dinklage|The Chronicles of...|         149922|                    22697|      Damián Alcázar|                   4|brother brother r...|http://www.imdb.c...|                 438| English|    USA|            PG|225000000|      2008|                   216|       6.6|        2.35|                   0|
|Color|      Joss Whedon|                   703|     173|                      0|                 19000|   Robert Downey Jr.|                 26000|623279547|Action|Adventure|...|   Chris Hemsworth|       The Avengers |         995415|                    87697|  Scarlett Johansson|                   3|alien invasion|as...|http://www.imdb.c...|                1722| English|    USA|         PG-13|220000000|      2012|                 21000|       8.1|        1.85|              123000|
|Color|     Rob Marshall|                   448|     136|                    252|                  1000|         Sam Claflin|                 40000|241063875|Action|Adventure|...|       Johnny Depp|Pirates of the Ca...|         370704|                    54083|      Stephen Graham|                   4|blackbeard|captai...|http://www.imdb.c...|                 484| English|    USA|         PG-13|250000000|      2011|                 11000|       6.7|        2.35|               58000|
|Color| Barry Sonnenfeld|                   451|     106|                    188|                   718|   Michael Stuhlbarg|                 10000|179020854|Action|Adventure|...|        Will Smith|     Men in Black 3 |         268154|                    12572|  Nicole Scherzinger|                   1|alien|criminal|m....|http://www.imdb.c...|                 341| English|    USA|         PG-13|225000000|      2012|                   816|       6.8|        1.85|               40000|
+-----+-----------------+----------------------+--------+-----------------------+----------------------+--------------------+----------------------+---------+--------------------+------------------+--------------------+---------------+-------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+-------+--------------+---------+----------+----------------------+----------+------------+--------------------+
only showing top 20 rows

In [52]:
df_movie.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
color,5024,None,None,Black and White,Color
director_name,4939,None,None,A. Raven Cruz,Étienne Faure
num_critic_for_reviews,4993,140.1942719807731,121.60167539623127,1,813
duration,5028,107.2010739856802,25.19744080882414,7,511
director_facebook_likes,4939,686.5092123911724,2813.328606865674,0,23000
actor_3_facebook_likes,5020,645.0097609561753,1665.0417284458563,0,23000
actor_2_name,5030,None,None,50 Cent,Zubaida Sahar
actor_1_facebook_likes,5036,6560.04706115965,15020.759119984074,0,640000
gross,4159,4.846840752680933E7,6.84529904387528E7,162,760505847
genres,5043,None,None,Action,Western
actor_1_name,5036,None,None,50 Cent,Óscar Jaenada
movie_title,5043,None,None,#Horror,Æon Flux
num_voted_users,5043,83668.16081697402,138485.2568059626,5,1689764
cast_total_facebook_likes,5043,9699.06385088241,18163.79912404591,0,656730
actor_3_name,5020,None,None,50 Cent,Óscar Jaenada
facenumber_in_poster,5030,1.3711729622266402,2.0135759199961063,0,43
plot_keywords,4890,3.0,None,10 year old|dog|florida|girl|supermarket,zombie|zombie spoof
movie_imdb_link,5043,None,None,http://www.imdb.com/title/tt0006864/?ref_=fn_t...,http://www.imdb.com/title/tt5574490/?ref_=fn_t...
num_user_for_reviews,5022,272.77080844285143,377.98288556576813,1,5060
language,5031,None,None,Aboriginal,Zulu
country,5038,None,None,Afghanistan,West Germany
content_rating,4740,None,None,Approved,X
budget,4551,3.9752620436387606E7,2.0611489844868675E8,218,12215500000
title_year,4935,2002.4705167173252,12.474598919270521,1916,2016
actor_2_facebook_likes,5030,1651.7544731610337,4042.438862641874,0,137000
imdb_score,5043,6.442137616498111,1.1251158657328193,1.6,9.5
aspect_ratio,4714,2.2204030547307805,1.3851125353032796,1.18,16.0
movie_facebook_likes,5043,7525.9645052548085,19320.445109946588,0,349000

In [53]:
df_movie.describe(['duration']).show()

+-------+-----------------+
|summary|         duration|
+-------+-----------------+
|  count|             5028|
|   mean|107.2010739856802|
| stddev|25.19744080882414|
|    min|                7|
|    max|              511|
+-------+-----------------+

Otra forma de leer desde Csv

In [54]:
import pandas as pd

url_github = 'https://raw.githubusercontent.com/AISCIENCES/course-master-big-data-with-pyspark-and-aws/main/Code/03-Spark%20DFs/StudentData.csv'


pd_df = pd.read_csv(url_github)
spark_df = spark.createDataFrame(pd_df)

spark_df.limit(5).show()

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB|32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA|41487|   41|Claude Panos_Judi...|
+---+------+----------------+------+-----+-----+--------------------+

In [55]:
url_github_amigos = 'https://raw.githubusercontent.com/MateoBaron2/Spark/main/amigos.csv'


pd_df = pd.read_csv(url_github_amigos)
spark_df_amigos = spark.createDataFrame(pd_df)

spark_df_amigos.limit(5).show()

+---+--------+---+---+
|  0|    Will| 33|385|
+---+--------+---+---+
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
+---+--------+---+---+

In [57]:
#converts DataFrame to rdd
rdd_amigos=spark_df_amigos.rdd

print(rdd_amigos.collect())

[Row(0=1, Will='Jean-Luc', 33=26, 385=2), Row(0=2, Will='Hugh', 33=55, 385=221), Row(0=3, Will='Deanna', 33=40, 385=465), Row(0=4, Will='Quark', 33=68, 385=21), Row(0=5, Will='Weyoun', 33=59, 385=318), Row(0=6, Will='Gowron', 33=37, 385=220), Row(0=7, Will='Will', 33=54, 385=307), Row(0=8, Will='Jadzia', 33=38, 385=380), Row(0=9, Will='Hugh', 33=27, 385=181), Row(0=10, Will='Odo', 33=53, 385=191), Row(0=11, Will='Ben', 33=57, 385=372), Row(0=12, Will='Keiko', 33=54, 385=253), Row(0=13, Will='Jean-Luc', 33=56, 385=444), Row(0=14, Will='Hugh', 33=43, 385=49), Row(0=15, Will='Rom', 33=36, 385=49), Row(0=16, Will='Weyoun', 33=22, 385=323), Row(0=17, Will='Odo', 33=35, 385=13), Row(0=18, Will='Jean-Luc', 33=45, 385=455), Row(0=19, Will='Geordi', 33=60, 385=246), Row(0=20, Will='Odo', 33=67, 385=220), Row(0=21, Will='Miles', 33=19, 385=268), Row(0=22, Will='Quark', 33=30, 385=72), Row(0=23, Will='Keiko', 33=51, 385=271), Row(0=24, Will='Julian', 33=25, 385=1), Row(0=25, Will='Ben', 33=21, 385=445), Row(0=26, Will='Julian', 33=22, 385=100), Row(0=27, Will='Leeta', 33=42, 385=363), Row(0=28, Will='Martok', 33=49, 385=476), Row(0=29, Will='Nog', 33=48, 385=364), Row(0=30, Will='Keiko', 33=50, 385=175), Row(0=31, Will='Miles', 33=39, 385=161), Row(0=32, Will='Nog', 33=26, 385=281), Row(0=33, Will='Dukat', 33=53, 385=197), Row(0=34, Will='Jean-Luc', 33=43, 385=249), Row(0=35, Will='Beverly', 33=27, 385=305), Row(0=36, Will='Kasidy', 33=32, 385=81), Row(0=37, Will='Geordi', 33=58, 385=21), Row(0=38, Will='Deanna', 33=64, 385=65), Row(0=39, Will='Morn', 33=31, 385=192), Row(0=40, Will='Odo', 33=52, 385=413), Row(0=41, Will='Hugh', 33=67, 385=167), Row(0=42, Will='Brunt', 33=54, 385=75), Row(0=43, Will='Guinan', 33=58, 385=345), Row(0=44, Will='Nerys', 33=35, 385=244), Row(0=45, Will='Dukat', 33=52, 385=77), Row(0=46, Will='Morn', 33=25, 385=96), Row(0=47, Will='Brunt', 33=24, 385=49), Row(0=48, Will='Nog', 33=20, 385=1), Row(0=49, Will='Ezri', 33=40, 385=254), Row(0=50, Will='Quark', 33=51, 385=283), Row(0=51, Will='Lwaxana', 33=36, 385=212), Row(0=52, Will='Beverly', 33=19, 385=269), Row(0=53, Will='Geordi', 33=62, 385=31), Row(0=54, Will='Brunt', 33=19, 385=5), Row(0=55, Will='Keiko', 33=41, 385=278), Row(0=56, Will='Gowron', 33=44, 385=194), Row(0=57, Will='Odo', 33=57, 385=294), Row(0=58, Will='Hugh', 33=59, 385=158), Row(0=59, Will='Morn', 33=59, 385=284), Row(0=60, Will='Geordi', 33=20, 385=100), Row(0=61, Will='Kasidy', 33=62, 385=442), Row(0=62, Will='Keiko', 33=69, 385=9), Row(0=63, Will='Jean-Luc', 33=58, 385=54), Row(0=64, Will='Elim', 33=31, 385=15), Row(0=65, Will='Guinan', 33=52, 385=169), Row(0=66, Will='Geordi', 33=21, 385=477), Row(0=67, Will='Jadzia', 33=48, 385=135), Row(0=68, Will='Guinan', 33=33, 385=74), Row(0=69, Will='Jean-Luc', 33=30, 385=204), Row(0=70, Will='Brunt', 33=52, 385=393), Row(0=71, Will='Geordi', 33=45, 385=184), Row(0=72, Will='Kasidy', 33=22, 385=179), Row(0=73, Will='Brunt', 33=20, 385=384), Row(0=74, Will='Leeta', 33=65, 385=208), Row(0=75, Will='Morn', 33=40, 385=459), Row(0=76, Will='Will', 33=62, 385=201), Row(0=77, Will='Weyoun', 33=40, 385=407), Row(0=78, Will='Data', 33=61, 385=337), Row(0=79, Will='Leeta', 33=58, 385=348), Row(0=80, Will='Dukat', 33=67, 385=445), Row(0=81, Will='Jadzia', 33=54, 385=440), Row(0=82, Will='Hugh', 33=57, 385=465), Row(0=83, Will='Geordi', 33=32, 385=308), Row(0=84, Will='Ben', 33=28, 385=311), Row(0=85, Will='Quark', 33=66, 385=383), Row(0=86, Will='Hugh', 33=55, 385=257), Row(0=87, Will='Ezri', 33=31, 385=481), Row(0=88, Will='Ben', 33=66, 385=188), Row(0=89, Will='Worf', 33=24, 385=492), Row(0=90, Will='Kasidy', 33=33, 385=471), Row(0=91, Will='Rom', 33=46, 385=88), Row(0=92, Will='Gowron', 33=54, 385=7), Row(0=93, Will='Elim', 33=46, 385=63), Row(0=94, Will='Morn', 33=62, 385=133), Row(0=95, Will='Odo', 33=29, 385=173), Row(0=96, Will='Ezri', 33=25, 385=233), Row(0=97, Will='Nerys', 33=69, 385=361), Row(0=98, Will='Will', 33=44, 385=178), Row(0=99, Will='Keiko', 33=69, 385=491), Row(0=100, Will='Jean-Luc', 33=61, 385=460), Row(0=101, Will='Morn', 33=67, 385=123), Row(0=102, Will='Dukat', 33=40, 385=18), Row(0=103, Will='Ezri', 33=61, 385=2), Row(0=104, Will='Dukat', 33=32, 385=142), Row(0=105, Will='Morn', 33=50, 385=417), Row(0=106, Will='Beverly', 33=18, 385=499), Row(0=107, Will='Will', 33=64, 385=419), Row(0=108, Will='Leeta', 33=25, 385=274), Row(0=109, Will='Quark', 33=53, 385=417), Row(0=110, Will='Nog', 33=64, 385=137), Row(0=111, Will='Nerys', 33=37, 385=46), Row(0=112, Will='Morn', 33=25, 385=13), Row(0=113, Will='Quark', 33=41, 385=244), Row(0=114, Will='Worf', 33=33, 385=275), Row(0=115, Will='Dukat', 33=18, 385=397), Row(0=116, Will='Ben', 33=69, 385=75), Row(0=117, Will='Rom', 33=52, 385=487), Row(0=118, Will='Ben', 33=28, 385=304), Row(0=119, Will='Worf', 33=29, 385=344), Row(0=120, Will='Jean-Luc', 33=68, 385=264), Row(0=121, Will='Deanna', 33=35, 385=355), Row(0=122, Will='Data', 33=45, 385=400), Row(0=123, Will='Jadzia', 33=45, 385=439), Row(0=124, Will='Data', 33=47, 385=429), Row(0=125, Will='Rom', 33=66, 385=284), Row(0=126, Will='Brunt', 33=26, 385=84), Row(0=127, Will='Miles', 33=40, 385=284), Row(0=128, Will='Julian', 33=34, 385=221), Row(0=129, Will='Kasidy', 33=45, 385=252), Row(0=130, Will='Gowron', 33=67, 385=350), Row(0=131, Will='Hugh', 33=65, 385=309), Row(0=132, Will='Odo', 33=46, 385=462), Row(0=133, Will='Quark', 33=19, 385=265), Row(0=134, Will='Ben', 33=45, 385=340), Row(0=135, Will='Rom', 33=42, 385=427), Row(0=136, Will='Will', 33=19, 385=335), Row(0=137, Will='Martok', 33=28, 385=32), Row(0=138, Will='Dukat', 33=32, 385=384), Row(0=139, Will='Nog', 33=36, 385=193), Row(0=140, Will='Elim', 33=64, 385=234), Row(0=141, Will='Miles', 33=36, 385=424), Row(0=142, Will='Guinan', 33=59, 385=335), Row(0=143, Will='Data', 33=60, 385=124), Row(0=144, Will='Miles', 33=22, 385=93), Row(0=145, Will='Leeta', 33=45, 385=470), Row(0=146, Will='Nerys', 33=58, 385=174), Row(0=147, Will='Quark', 33=61, 385=373), Row(0=148, Will='Nerys', 33=39, 385=248), Row(0=149, Will='Beverly', 33=49, 385=340), Row(0=150, Will='Nerys', 33=55, 385=313), Row(0=151, Will='Keiko', 33=54, 385=441), Row(0=152, Will='Kasidy', 33=54, 385=235), Row(0=153, Will='Morn', 33=63, 385=342), Row(0=154, Will='Geordi', 33=40, 385=389), Row(0=155, Will='Beverly', 33=50, 385=126), Row(0=156, Will='Deanna', 33=44, 385=360), Row(0=157, Will='Dukat', 33=34, 385=319), Row(0=158, Will='Odo', 33=31, 385=340), Row(0=159, Will='Kasidy', 33=67, 385=438), Row(0=160, Will='Beverly', 33=58, 385=112), Row(0=161, Will='Odo', 33=39, 385=207), Row(0=162, Will='Ezri', 33=59, 385=14), Row(0=163, Will='Nerys', 33=67, 385=204), Row(0=164, Will='Will', 33=31, 385=172), Row(0=165, Will='Leeta', 33=26, 385=282), Row(0=166, Will='Lwaxana', 33=25, 385=10), Row(0=167, Will='Quark', 33=48, 385=57), Row(0=168, Will='Martok', 33=68, 385=112), Row(0=169, Will='Beverly', 33=53, 385=92), Row(0=170, Will='Jean-Luc', 33=68, 385=490), Row(0=171, Will='Weyoun', 33=29, 385=126), Row(0=172, Will='Kasidy', 33=55, 385=204), Row(0=173, Will='Leeta', 33=23, 385=129), Row(0=174, Will='Deanna', 33=47, 385=87), Row(0=175, Will='Will', 33=38, 385=459), Row(0=176, Will='Worf', 33=55, 385=474), Row(0=177, Will='Brunt', 33=67, 385=316), Row(0=178, Will='Kasidy', 33=26, 385=381), Row(0=179, Will='Elim', 33=37, 385=426), Row(0=180, Will='Kasidy', 33=30, 385=108), Row(0=181, Will='Rom', 33=43, 385=404), Row(0=182, Will='Weyoun', 33=26, 385=145), Row(0=183, Will='Ben', 33=47, 385=488), Row(0=184, Will='Julian', 33=44, 385=84), Row(0=185, Will='Weyoun', 33=48, 385=287), Row(0=186, Will='Miles', 33=31, 385=109), Row(0=187, Will='Nerys', 33=47, 385=225), Row(0=188, Will='Keiko', 33=54, 385=369), Row(0=189, Will='Quark', 33=62, 385=23), Row(0=190, Will='Geordi', 33=60, 385=294), Row(0=191, Will='Nog', 33=40, 385=349), Row(0=192, Will='Jadzia', 33=45, 385=497), Row(0=193, Will='Nerys', 33=60, 385=125), Row(0=194, Will='Kasidy', 33=38, 385=2), Row(0=195, Will='Ben', 33=30, 385=376), Row(0=196, Will='Data', 33=38, 385=173), Row(0=197, Will='Leeta', 33=38, 385=76), Row(0=198, Will='Brunt', 33=48, 385=381), Row(0=199, Will='Hugh', 33=38, 385=180), Row(0=200, Will='Kasidy', 33=21, 385=472), Row(0=201, Will='Ezri', 33=23, 385=174), Row(0=202, Will='Lwaxana', 33=63, 385=469), Row(0=203, Will='Ezri', 33=46, 385=125), Row(0=204, Will='Deanna', 33=64, 385=164), Row(0=205, Will='Morn', 33=69, 385=236), Row(0=206, Will='Will', 33=21, 385=491), Row(0=207, Will='Lwaxana', 33=41, 385=206), Row(0=208, Will='Nog', 33=37, 385=271), Row(0=209, Will='Brunt', 33=27, 385=174), Row(0=210, Will='Data', 33=33, 385=245), Row(0=211, Will='Ben', 33=61, 385=73), Row(0=212, Will='Geordi', 33=55, 385=284), Row(0=213, Will='Worf', 33=28, 385=312), Row(0=214, Will='Miles', 33=32, 385=182), Row(0=215, Will='Will', 33=22, 385=6), Row(0=216, Will='Brunt', 33=34, 385=116), Row(0=217, Will='Keiko', 33=29, 385=260), Row(0=218, Will='Gowron', 33=66, 385=350), Row(0=219, Will='Lwaxana', 33=26, 385=345), Row(0=220, Will='Jean-Luc', 33=41, 385=394), Row(0=221, Will='Dukat', 33=27, 385=150), Row(0=222, Will='Rom', 33=34, 385=346), Row(0=223, Will='Odo', 33=40, 385=406), Row(0=224, Will='Keiko', 33=44, 385=277), Row(0=225, Will='Elim', 33=19, 385=106), Row(0=226, Will='Lwaxana', 33=37, 385=207), Row(0=227, Will='Ezri', 33=40, 385=198), Row(0=228, Will='Martok', 33=26, 385=293), Row(0=229, Will='Gowron', 33=24, 385=150), Row(0=230, Will='Beverly', 33=54, 385=397), Row(0=231, Will='Ezri', 33=59, 385=42), Row(0=232, Will='Worf', 33=68, 385=481), Row(0=233, Will='Gowron', 33=67, 385=70), Row(0=234, Will='Deanna', 33=49, 385=22), Row(0=235, Will='Elim', 33=57, 385=8), Row(0=236, Will='Brunt', 33=62, 385=442), Row(0=237, Will='Nerys', 33=61, 385=469), Row(0=238, Will='Deanna', 33=25, 385=305), Row(0=239, Will='Nog', 33=48, 385=345), Row(0=240, Will='Deanna', 33=46, 385=154), Row(0=241, Will='Quark', 33=45, 385=332), Row(0=242, Will='Data', 33=25, 385=101), Row(0=243, Will='Martok', 33=61, 385=68), Row(0=244, Will='Dukat', 33=21, 385=471), Row(0=245, Will='Jean-Luc', 33=28, 385=174), Row(0=246, Will='Leeta', 33=41, 385=260), Row(0=247, Will='Ezri', 33=52, 385=338), Row(0=248, Will='Dukat', 33=21, 385=138), Row(0=249, Will='Nerys', 33=66, 385=41), Row(0=250, Will='Hugh', 33=36, 385=342), Row(0=251, Will='Rom', 33=55, 385=57), Row(0=252, Will='Will', 33=36, 385=174), Row(0=253, Will='Leeta', 33=69, 385=116), Row(0=254, Will='Ezri', 33=67, 385=79), Row(0=255, Will='Deanna', 33=60, 385=324), Row(0=256, Will='Worf', 33=32, 385=412), Row(0=257, Will='Data', 33=51, 385=161), Row(0=258, Will='Worf', 33=68, 385=217), Row(0=259, Will='Kasidy', 33=29, 385=11), Row(0=260, Will='Brunt', 33=38, 385=96), Row(0=261, Will='Jadzia', 33=40, 385=172), Row(0=262, Will='Will', 33=51, 385=334), Row(0=263, Will='Martok', 33=40, 385=33), Row(0=264, Will='Julian', 33=29, 385=228), Row(0=265, Will='Gowron', 33=27, 385=471), Row(0=266, Will='Jean-Luc', 33=66, 385=496), Row(0=267, Will='Dukat', 33=49, 385=106), Row(0=268, Will='Ezri', 33=26, 385=298), Row(0=269, Will='Beverly', 33=55, 385=289), Row(0=270, Will='Data', 33=44, 385=353), Row(0=271, Will='Morn', 33=25, 385=446), Row(0=272, Will='Quark', 33=29, 385=367), Row(0=273, Will='Data', 33=51, 385=493), Row(0=274, Will='Julian', 33=64, 385=244), Row(0=275, Will='Will', 33=47, 385=13), Row(0=276, Will='Dukat', 33=54, 385=462), Row(0=277, Will='Hugh', 33=46, 385=300), Row(0=278, Will='Data', 33=44, 385=499), Row(0=279, Will='Beverly', 33=23, 385=133), Row(0=280, Will='Nerys', 33=26, 385=492), Row(0=281, Will='Worf', 33=21, 385=89), Row(0=282, Will='Geordi', 33=32, 385=404), Row(0=283, Will='Dukat', 33=65, 385=443), Row(0=284, Will='Nog', 33=26, 385=269), Row(0=285, Will='Data', 33=43, 385=101), Row(0=286, Will='Lwaxana', 33=30, 385=384), Row(0=287, Will='Beverly', 33=64, 385=396), Row(0=288, Will='Hugh', 33=56, 385=354), Row(0=289, Will='Ezri', 33=30, 385=221), Row(0=290, Will='Beverly', 33=62, 385=290), Row(0=291, Will='Dukat', 33=23, 385=373), Row(0=292, Will='Nog', 33=63, 385=380), Row(0=293, Will='Deanna', 33=23, 385=65), Row(0=294, Will='Leeta', 33=38, 385=410), Row(0=295, Will='Nerys', 33=40, 385=56), Row(0=296, Will='Data', 33=38, 385=454), Row(0=297, Will='Ben', 33=45, 385=395), Row(0=298, Will='Guinan', 33=57, 385=207), Row(0=299, Will='Rom', 33=57, 385=311), Row(0=300, Will='Beverly', 33=49, 385=147), Row(0=301, Will='Weyoun', 33=28, 385=108), Row(0=302, Will='Beverly', 33=37, 385=263), Row(0=303, Will='Deanna', 33=46, 385=319), Row(0=304, Will='Will', 33=19, 385=404), Row(0=305, Will='Quark', 33=29, 385=182), Row(0=306, Will='Beverly', 33=23, 385=323), Row(0=307, Will='Keiko', 33=41, 385=340), Row(0=308, Will='Morn', 33=45, 385=59), Row(0=309, Will='Geordi', 33=67, 385=153), Row(0=310, Will='Odo', 33=68, 385=189), Row(0=311, Will='Martok', 33=43, 385=48), Row(0=312, Will='Jadzia', 33=61, 385=421), Row(0=313, Will='Dukat', 33=59, 385=169), Row(0=314, Will='Geordi', 33=36, 385=168), Row(0=315, Will='Weyoun', 33=25, 385=208), Row(0=316, Will='Hugh', 33=64, 385=391), Row(0=317, Will='Guinan', 33=59, 385=439), Row(0=318, Will='Deanna', 33=35, 385=251), Row(0=319, Will='Leeta', 33=30, 385=476), Row(0=320, Will='Worf', 33=62, 385=450), Row(0=321, Will='Data', 33=44, 385=61), Row(0=322, Will='Rom', 33=58, 385=92), Row(0=323, Will='Nog', 33=29, 385=236), Row(0=324, Will='Miles', 33=56, 385=343), Row(0=325, Will='Keiko', 33=51, 385=492), Row(0=326, Will='Beverly', 33=46, 385=407), Row(0=327, Will='Julian', 33=20, 385=63), Row(0=328, Will='Deanna', 33=62, 385=41), Row(0=329, Will='Dukat', 33=67, 385=35), Row(0=330, Will='Ezri', 33=33, 385=356), Row(0=331, Will='Martok', 33=30, 385=17), Row(0=332, Will='Julian', 33=55, 385=362), Row(0=333, Will='Ben', 33=29, 385=207), Row(0=334, Will='Leeta', 33=40, 385=7), Row(0=335, Will='Odo', 33=27, 385=337), Row(0=336, Will='Gowron', 33=47, 385=4), Row(0=337, Will='Miles', 33=58, 385=10), Row(0=338, Will='Will', 33=28, 385=180), Row(0=339, Will='Morn', 33=66, 385=305), Row(0=340, Will='Nerys', 33=57, 385=275), Row(0=341, Will='Data', 33=18, 385=326), Row(0=342, Will='Guinan', 33=46, 385=151), Row(0=343, Will='Odo', 33=26, 385=254), Row(0=344, Will='Data', 33=30, 385=487), Row(0=345, Will='Ezri', 33=31, 385=394), Row(0=346, Will='Hugh', 33=29, 385=329), Row(0=347, Will='Geordi', 33=32, 385=24), Row(0=348, Will='Weyoun', 33=33, 385=460), Row(0=349, Will='Kasidy', 33=20, 385=277), Row(0=350, Will='Nog', 33=55, 385=464), Row(0=351, Will='Keiko', 33=54, 385=72), Row(0=352, Will='Deanna', 33=27, 385=53), Row(0=353, Will='Julian', 33=64, 385=499), Row(0=354, Will='Kasidy', 33=69, 385=15), Row(0=355, Will='Keiko', 33=46, 385=352), Row(0=356, Will='Weyoun', 33=67, 385=149), Row(0=357, Will='Brunt', 33=26, 385=7), Row(0=358, Will='Will', 33=52, 385=276), Row(0=359, Will='Nog', 33=54, 385=442), Row(0=360, Will='Nerys', 33=39, 385=68), Row(0=361, Will='Worf', 33=68, 385=206), Row(0=362, Will='Ezri', 33=39, 385=120), Row(0=363, Will='Dukat', 33=41, 385=397), Row(0=364, Will='Lwaxana', 33=54, 385=115), Row(0=365, Will='Brunt', 33=65, 385=430), Row(0=366, Will='Keiko', 33=19, 385=119), Row(0=367, Will='Data', 33=39, 385=106), Row(0=368, Will='Elim', 33=26, 385=383), Row(0=369, Will='Quark', 33=48, 385=266), Row(0=370, Will='Jadzia', 33=53, 385=86), Row(0=371, Will='Guinan', 33=31, 385=435), Row(0=372, Will='Brunt', 33=62, 385=273), Row(0=373, Will='Quark', 33=19, 385=272), Row(0=374, Will='Nog', 33=68, 385=293), Row(0=375, Will='Hugh', 33=66, 385=201), Row(0=376, Will='Gowron', 33=23, 385=392), Row(0=377, Will='Beverly', 33=18, 385=418), Row(0=378, Will='Guinan', 33=47, 385=97), Row(0=379, Will='Data', 33=60, 385=304), Row(0=380, Will='Brunt', 33=35, 385=65), Row(0=381, Will='Nog', 33=38, 385=95), Row(0=382, Will='Worf', 33=66, 385=240), Row(0=383, Will='Data', 33=69, 385=148), Row(0=384, Will='Martok', 33=67, 385=355), Row(0=385, Will='Beverly', 33=57, 385=436), Row(0=386, Will='Data', 33=35, 385=428), Row(0=387, Will='Will', 33=43, 385=335), Row(0=388, Will='Nog', 33=30, 385=184), Row(0=389, Will='Weyoun', 33=38, 385=38), Row(0=390, Will='Martok', 33=22, 385=266), Row(0=391, Will='Ben', 33=64, 385=309), Row(0=392, Will='Data', 33=64, 385=343), Row(0=393, Will='Quark', 33=50, 385=436), Row(0=394, Will='Keiko', 33=23, 385=230), Row(0=395, Will='Jean-Luc', 33=56, 385=15), Row(0=396, Will='Keiko', 33=67, 385=38), Row(0=397, Will='Quark', 33=69, 385=470), Row(0=398, Will='Lwaxana', 33=26, 385=124), Row(0=399, Will='Beverly', 33=24, 385=401), Row(0=400, Will='Data', 33=29, 385=128), Row(0=401, Will='Jean-Luc', 33=42, 385=467), Row(0=402, Will='Hugh', 33=58, 385=98), Row(0=403, Will='Weyoun', 33=21, 385=224), Row(0=404, Will='Kasidy', 33=18, 385=24), Row(0=405, Will='Nog', 33=56, 385=371), Row(0=406, Will='Ben', 33=57, 385=121), Row(0=407, Will='Miles', 33=36, 385=68), Row(0=408, Will='Dukat', 33=62, 385=496), Row(0=409, Will='Nog', 33=19, 385=267), Row(0=410, Will='Odo', 33=35, 385=299), Row(0=411, Will='Lwaxana', 33=58, 385=22), Row(0=412, Will='Jadzia', 33=53, 385=451), Row(0=413, Will='Hugh', 33=45, 385=147), Row(0=414, Will='Martok', 33=56, 385=313), Row(0=415, Will='Quark', 33=30, 385=65), Row(0=416, Will='Nerys', 33=33, 385=294), Row(0=417, Will='Julian', 33=37, 385=106), Row(0=418, Will='Guinan', 33=32, 385=212), Row(0=419, Will='Kasidy', 33=55, 385=176), Row(0=420, Will='Jadzia', 33=26, 385=391), Row(0=421, Will='Will', 33=40, 385=261), Row(0=422, Will='Ben', 33=67, 385=292), Row(0=423, Will='Will', 33=44, 385=388), Row(0=424, Will='Keiko', 33=55, 385=470), Row(0=425, Will='Quark', 33=33, 385=243), Row(0=426, Will='Worf', 33=24, 385=77), Row(0=427, Will='Brunt', 33=28, 385=258), Row(0=428, Will='Lwaxana', 33=68, 385=423), Row(0=429, Will='Jean-Luc', 33=63, 385=345), Row(0=430, Will='Geordi', 33=36, 385=493), Row(0=431, Will='Quark', 33=36, 385=343), Row(0=432, Will='Brunt', 33=45, 385=54), Row(0=433, Will='Ezri', 33=38, 385=203), Row(0=434, Will='Deanna', 33=57, 385=289), Row(0=435, Will='Guinan', 33=42, 385=275), Row(0=436, Will='Geordi', 33=57, 385=229), Row(0=437, Will='Morn', 33=59, 385=221), Row(0=438, Will='Nog', 33=42, 385=95), Row(0=439, Will='Data', 33=18, 385=417), Row(0=440, Will='Elim', 33=48, 385=394), Row(0=441, Will='Jadzia', 33=38, 385=143), Row(0=442, Will='Nog', 33=46, 385=105), Row(0=443, Will='Geordi', 33=64, 385=175), Row(0=444, Will='Keiko', 33=18, 385=472), Row(0=445, Will='Guinan', 33=40, 385=286), Row(0=446, Will='Quark', 33=32, 385=41), Row(0=447, Will='Julian', 33=38, 385=34), Row(0=448, Will='Nerys', 33=48, 385=439), Row(0=449, Will='Data', 33=52, 385=419), Row(0=450, Will='Weyoun', 33=37, 385=234), Row(0=451, Will='Martok', 33=28, 385=34), Row(0=452, Will='Ezri', 33=58, 385=6), Row(0=453, Will='Julian', 33=44, 385=337), Row(0=454, Will='Weyoun', 33=52, 385=456), Row(0=455, Will='Elim', 33=33, 385=463), Row(0=456, Will='Ezri', 33=37, 385=471), Row(0=457, Will='Worf', 33=51, 385=81), Row(0=458, Will='Elim', 33=44, 385=335), Row(0=459, Will='Geordi', 33=26, 385=84), Row(0=460, Will='Hugh', 33=47, 385=400), Row(0=461, Will='Geordi', 33=41, 385=236), Row(0=462, Will='Nerys', 33=23, 385=287), Row(0=463, Will='Keiko', 33=40, 385=220), Row(0=464, Will='Beverly', 33=25, 385=485), Row(0=465, Will='Morn', 33=53, 385=126), Row(0=466, Will='Brunt', 33=33, 385=228), Row(0=467, Will='Weyoun', 33=42, 385=194), Row(0=468, Will='Ezri', 33=46, 385=227), Row(0=469, Will='Brunt', 33=55, 385=271), Row(0=470, Will='Deanna', 33=38, 385=160), Row(0=471, Will='Brunt', 33=52, 385=273), Row(0=472, Will='Nog', 33=27, 385=154), Row(0=473, Will='Morn', 33=35, 385=38), Row(0=474, Will='Keiko', 33=34, 385=48), Row(0=475, Will='Ben', 33=52, 385=446), Row(0=476, Will='Jean-Luc', 33=28, 385=378), Row(0=477, Will='Gowron', 33=50, 385=119), Row(0=478, Will='Dukat', 33=41, 385=62), Row(0=479, Will='Kasidy', 33=44, 385=320), Row(0=480, Will='Geordi', 33=43, 385=428), Row(0=481, Will='Elim', 33=32, 385=97), Row(0=482, Will='Ben', 3

In [59]:
#lines = sc.textFile(rdd_amigos)
rdd_amigos = lines.map(parseLine)
totalsByAge = rdd.mapValues(lambda x: (x, 1)).reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
averagesByAge = totalsByAge.mapValues(lambda x: x[0] / x[1])
results = averagesByAge.collect()
for result in results:
    print(result)

(26, 242.05882352941177)
(40, 250.8235294117647)
(68, 269.6)
(54, 278.0769230769231)
(38, 193.53333333333333)
(56, 306.6666666666667)
(36, 246.6)
(22, 206.42857142857142)
(60, 202.71428571428572)
(30, 235.8181818181818)
(42, 303.5)
(48, 281.4)
(50, 254.6)
(32, 207.9090909090909)
(58, 116.54545454545455)
(64, 281.3333333333333)
(52, 340.6363636363636)
(24, 233.8)
(20, 165.0)
(62, 220.76923076923077)
(44, 282.1666666666667)
(28, 209.1)
(66, 276.44444444444446)
(46, 223.69230769230768)
(18, 343.375)
(34, 245.5)
(33, 325.3333333333333)
(55, 295.53846153846155)
(59, 220.0)
(37, 249.33333333333334)
(27, 228.125)
(53, 222.85714285714286)
(57, 258.8333333333333)
(43, 230.57142857142858)
(35, 211.625)
(45, 309.53846153846155)
(67, 214.625)
(19, 213.27272727272728)
(51, 302.14285714285717)
(25, 197.45454545454547)
(21, 350.875)
(49, 184.66666666666666)
(39, 169.28571428571428)
(31, 267.25)
(41, 268.55555555555554)
(69, 235.2)
(65, 298.2)
(61, 256.22222222222223)
(29, 215.91666666666666)
(47, 233.22222222222223)
(63, 384.0)
(23, 246.3)